/* MiddleSection.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


  
.middle-section {
    text-align: center;
    padding: 60px 20px;
    background-color: #f4f4f9;
  }
  
  .tagline {
    font-size: 1rem;
    color: #6c63ff;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .main-heading {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: #000;
    line-height: 1.2;
    margin: 20px 0;
  }
  
  .main-heading .highlight {
    color: #6c63ff;
  }
  
  .subheading {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #666;
    margin-bottom: 40px;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .primary-button {
    background-color: #6c63ff;
    color: white;
    padding: 16px 24px;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .primary-button:hover {
    background-color: #4c49b2;
  }
  
  .secondary-button {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    background-color: white;
    color: #000;
    padding: 12px 24px;
    font-size: 1rem;
    border: 2px solid #d4ccf4;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .secondary-button:hover {
    background-color: #6c63ff;
    color: white;
  }

  .cloud-platform-button {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    background-color: white; /* White background */
    color: #6c63ff; /* Purple text color */
    border: 0.1px solid #6c63ff; /* Purple border */
    border-radius: 25px; /* Rounded edges */
    padding: 8px 22px; /* Padding for size */
    font-size: .9rem; /* Font size */
    font-weight: 500; /* Slightly bold text */
    cursor: pointer; /* Pointer cursor on hover */
    box-shadow: 0 4px 10px rgba(108, 99, 255, 0.3); /* Purple glow shadow */
    transition: all 0.3s ease; /* Smooth transitions */
  }
  
  .cloud-platform-button:hover {
    background-color: #6c63ff; /* Purple background on hover */
    color: white; /* White text on hover */
    box-shadow: 0 6px 15px rgba(108, 99, 255, 0.5); /* Enhanced glow on hover */
  }
  